body {
  min-height: 100%;
  background-image: url(shenlong.jpg);
  background-size: cover;
  font-size: 16px;
}

.caixa-entrada {
  display: inline-block;
  width: 60%;
  text-align: center;
  margin: 50px 0;
  vertical-align: top;
}

textarea::placeholder {
  color: darkred;
  font-weight: bold;
  font-style: italic;
}

textarea {
  width: 70%;
  min-height: 550px;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 10px;
  opacity: 0.7;
  border: none;
  border-radius: 32px;
}

.texto-btn {
  display: block;
  position: relative;
  padding: 0 0 5px;
  font-style: italic;
  color: darkred;
  font-weight: bold; 
  right: 100px;
}

.btn-entrada {
  display: block;
  margin: 18px auto;
}

button {
  width: 240px;
  height: 67px;
  border-radius: 20px;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  color: #333333;
  margin-left: 30px;
  cursor: pointer;
  transition: 500ms;
}

button:hover {
  color: darkgreen;
  transform: scale(1.2);
  text-decoration: underline;
}
.criptografar {
  background: darkorange;
}

.descriptografar {
  background: indianred;
}

.btn-copiar{
	background: yellowgreen;
  margin: 40px 0 0;
}

.caixa-saida{
  display: inline-block;
  position: absolute;
  right: 70px;
  width: 25%;
  height: 700px;
  border: 2px solid #000000;
  border-radius: 32px;
  background: #fefefe;
  text-align: center;
  vertical-align: top;
  margin: 50px 0;
}



#mensagem-saida {
  background: transparent;
  display: none;
}

#aviso{
  padding: 1em;
}

#aviso img{
  width: 60%;
  height: auto;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  padding: 1em;
}

h2 {
  font-size: 1.5em;
}

.rodape{
  width: 100%;
  background: #111111;
  padding: 1em 0;
  text-align: center;
  color: white;
}
